

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>procgraph.components.debug_components.operations &mdash; procgraph 1.1 documentation</title>
    
    <link rel="stylesheet" href="../../../../static/haiku.css" type="text/css" />
    <link rel="stylesheet" href="../../../../static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/print.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../../',
        VERSION:     '1.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../../static/jquery.js"></script>
    <script type="text/javascript" src="../../../../static/underscore.js"></script>
    <script type="text/javascript" src="../../../../static/doctools.js"></script>
    <script type="text/javascript" src="../../../../_static/theme_extras.js"></script>
    <link rel="top" title="procgraph 1.1 documentation" href="../../../../index.html" />
    <link rel="up" title="procgraph.components" href="../../components.html" />
	 


   <style type="text/css">
	body { 
		font-family: Verdana, sans-serif;
		font-size: 16px;
	}

	div.col1 {
		display: block;
		float: left;
	}

	div.col2 {
		margin-left: 3em;
		display: block;
		float: left;
	}

	div.after {
		clear: left;
	}
	
</style>

<link  href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" >
<link  href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" >
<link  href="static/procgraph.css" rel="stylesheet" type="text/css" >



  </head>
  <body>
      <div class="header"><h1 class="heading"><a href="../../../../index.html">
          <span>procgraph 1.1 documentation</span></a></h1>
        <h2 class="heading"><span>procgraph.components.debug_components.operations</span></h2>
      </div>
      <div class="topnav">
      
        <p>
        <a class="uplink" href="../../../../index.html">Contents</a>
        </p>

      </div>
      <div class="content">
        
        
  <h1>Source code for procgraph.components.debug_components.operations</h1><div class="highlight"><pre>
<span class="kn">from</span> <span class="nn">...core.registrar_other</span> <span class="kn">import</span> <span class="n">simple_block</span>
<span class="kn">from</span> <span class="nn">...core.block</span> <span class="kn">import</span> <span class="n">Block</span>


<div class="viewcode-block" id="Minus"><a class="viewcode-back" href="../../../../api/procgraph.components.debug_components.html#procgraph.components.debug_components.operations.Minus">[docs]</a><span class="k">class</span> <span class="nc">Minus</span><span class="p">(</span><span class="n">Block</span><span class="p">):</span>
    <span class="sd">&#39;&#39;&#39; Implements the difference of two signals, taking care of overflows. </span>
<span class="sd">    </span>
<span class="sd">        Because that is rarely the semantics you want to give them.</span>
<span class="sd">    &#39;&#39;&#39;</span>

    <span class="n">Block</span><span class="o">.</span><span class="n">alias</span><span class="p">(</span><span class="s">&#39;-&#39;</span><span class="p">)</span>
    <span class="n">Block</span><span class="o">.</span><span class="n">input</span><span class="p">(</span><span class="s">&#39;x&#39;</span><span class="p">,</span> <span class="s">&#39;First signal&#39;</span><span class="p">)</span>
    <span class="n">Block</span><span class="o">.</span><span class="n">input</span><span class="p">(</span><span class="s">&#39;y&#39;</span><span class="p">,</span> <span class="s">&#39;Second signal&#39;</span><span class="p">)</span>
    <span class="n">Block</span><span class="o">.</span><span class="n">output</span><span class="p">(</span><span class="s">&#39;x_minus_y&#39;</span><span class="p">,</span> <span class="s">&#39;Result of x - y&#39;</span><span class="p">)</span>
    <span class="n">Block</span><span class="o">.</span><span class="n">config</span><span class="p">(</span><span class="s">&#39;safe&#39;</span><span class="p">,</span> <span class="s">&#39;Whether to use safe promotions. &#39;</span>
                 <span class="s">&#39;If not specified, we will do it but warn once.&#39;</span><span class="p">,</span>
                 <span class="n">default</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span>

    <span class="n">Block</span><span class="o">.</span><span class="n">config</span><span class="p">(</span><span class="s">&#39;cases&#39;</span><span class="p">,</span> <span class="s">&#39;Promotion rules&#39;</span><span class="p">,</span> <span class="n">default</span><span class="o">=</span><span class="p">{</span><span class="s">&#39;uint8&#39;</span><span class="p">:</span> <span class="s">&#39;int16&#39;</span><span class="p">,</span>
                                                      <span class="s">&#39;uint16&#39;</span><span class="p">:</span> <span class="s">&#39;int32&#39;</span><span class="p">,</span>
                                                      <span class="s">&#39;uint32&#39;</span><span class="p">:</span> <span class="s">&#39;int64&#39;</span><span class="p">})</span>

<div class="viewcode-block" id="Minus.init"><a class="viewcode-back" href="../../../../api/procgraph.components.debug_components.html#procgraph.components.debug_components.operations.Minus.init">[docs]</a>    <span class="k">def</span> <span class="nf">init</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">warned</span> <span class="o">=</span> <span class="bp">False</span>
</div>
<div class="viewcode-block" id="Minus.update"><a class="viewcode-back" href="../../../../api/procgraph.components.debug_components.html#procgraph.components.debug_components.operations.Minus.update">[docs]</a>    <span class="k">def</span> <span class="nf">update</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="c"># TODO:  check_array_same_shape(self, 0, 1)</span>
        <span class="n">inputs</span> <span class="o">=</span> <span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">get_input</span><span class="p">(</span><span class="mi">0</span><span class="p">),</span> <span class="bp">self</span><span class="o">.</span><span class="n">get_input</span><span class="p">(</span><span class="mi">1</span><span class="p">)]</span>

        <span class="n">warned_now</span> <span class="o">=</span> <span class="bp">False</span>
        <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="p">[</span><span class="mi">0</span><span class="p">,</span> <span class="mi">1</span><span class="p">]:</span>
            <span class="n">dtype_string</span> <span class="o">=</span> <span class="nb">str</span><span class="p">(</span><span class="n">inputs</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">.</span><span class="n">dtype</span><span class="p">)</span>
            <span class="k">if</span> <span class="n">dtype_string</span> <span class="ow">in</span> <span class="bp">self</span><span class="o">.</span><span class="n">config</span><span class="o">.</span><span class="n">cases</span><span class="p">:</span>
                <span class="n">nexti</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">config</span><span class="o">.</span><span class="n">cases</span><span class="p">[</span><span class="n">dtype_string</span><span class="p">]</span>

                <span class="k">if</span> <span class="ow">not</span> <span class="bp">self</span><span class="o">.</span><span class="n">warned</span><span class="p">:</span>
                    <span class="bp">self</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s">&#39;Warning: promoting signal </span><span class="si">%r</span><span class="s"> from </span><span class="si">%r</span><span class="s"> to </span><span class="si">%r</span><span class="s">.&#39;</span> <span class="o">%</span>
                          <span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">canonicalize_input</span><span class="p">(</span><span class="n">i</span><span class="p">),</span>
                           <span class="n">dtype_string</span><span class="p">,</span> <span class="n">nexti</span><span class="p">))</span>
                    <span class="n">warned_now</span> <span class="o">=</span> <span class="bp">True</span>
                <span class="n">inputs</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">=</span> <span class="n">inputs</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">.</span><span class="n">astype</span><span class="p">(</span><span class="n">nexti</span><span class="p">)</span>

        <span class="bp">self</span><span class="o">.</span><span class="n">warned</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">warned</span> <span class="ow">or</span> <span class="n">warned_now</span>

        <span class="n">result</span> <span class="o">=</span> <span class="n">inputs</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">-</span> <span class="n">inputs</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>

        <span class="bp">self</span><span class="o">.</span><span class="n">set_output</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="n">result</span><span class="p">)</span>

</div></div>
<span class="nd">@simple_block</span><span class="p">(</span><span class="n">alias</span><span class="o">=</span><span class="s">&#39;+&#39;</span><span class="p">)</span>
<div class="viewcode-block" id="plus"><a class="viewcode-back" href="../../../../api/procgraph.components.debug_components.html#procgraph.components.debug_components.operations.plus">[docs]</a><span class="k">def</span> <span class="nf">plus</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="n">y</span><span class="p">):</span>
    <span class="sd">&#39;&#39;&#39; </span>
<span class="sd">        Sum of two signals. </span>
<span class="sd">        </span>
<span class="sd">        :param x: First signal.</span>
<span class="sd">        :param y: Second signal.</span>
<span class="sd">        :return: sum: Sum of the two signals.</span>
<span class="sd">    &#39;&#39;&#39;</span>
    <span class="k">return</span> <span class="n">x</span> <span class="o">+</span> <span class="n">y</span>

</div>
<span class="nd">@simple_block</span><span class="p">(</span><span class="n">alias</span><span class="o">=</span><span class="s">&#39;*&#39;</span><span class="p">)</span>
<div class="viewcode-block" id="product"><a class="viewcode-back" href="../../../../api/procgraph.components.debug_components.html#procgraph.components.debug_components.operations.product">[docs]</a><span class="k">def</span> <span class="nf">product</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="n">y</span><span class="p">):</span>
    <span class="sd">&#39;&#39;&#39; </span>
<span class="sd">        Product of two signals. </span>
<span class="sd">        </span>
<span class="sd">        :param x: First signal.</span>
<span class="sd">        :param y: Second signal.</span>
<span class="sd">        :return: product: Product of the two signals.</span>
<span class="sd">        </span>
<span class="sd">    &#39;&#39;&#39;</span>
    <span class="k">return</span> <span class="n">x</span> <span class="o">+</span> <span class="n">y</span>

</div>
<span class="nd">@simple_block</span><span class="p">(</span><span class="n">alias</span><span class="o">=</span><span class="s">&#39;/&#39;</span><span class="p">)</span>
<div class="viewcode-block" id="ratio"><a class="viewcode-back" href="../../../../api/procgraph.components.debug_components.html#procgraph.components.debug_components.operations.ratio">[docs]</a><span class="k">def</span> <span class="nf">ratio</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="n">y</span><span class="p">):</span>
    <span class="sd">&#39;&#39;&#39; </span>
<span class="sd">        Ratio of two signals. </span>
<span class="sd">        </span>
<span class="sd">        :param x: First signal.</span>
<span class="sd">        :param y: Second signal.</span>
<span class="sd">        :return: ratio: First signal divided by the second.</span>
<span class="sd">    &#39;&#39;&#39;</span>
    <span class="k">return</span> <span class="n">x</span> <span class="o">/</span> <span class="n">y</span>
</pre></div></div>

      </div>
      <div class="bottomnav">
      
        <p>
        <a class="uplink" href="../../../../index.html">Contents</a>
        </p>

      </div>

	
    <div class="footer">
        &copy; Copyright 2010, Andrea Censi.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.2.
    </div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-155626-6']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>


  </body>
</html>