.procgraph-block P, .procgraph-block LI { max-width: 40em;}

.procgraph-block .procgraph-source { max-width: 100%;}
.procgraph-block h2 { background-color: #ddd; padding: 5px; font-weight: bold; font-family: monospace;}
.procgraph-config h3, .procgraph-input h3,.procgraph-output h3 { font-weight: bold; }
.procgraph-source, .procgraph-source A { color: gray;}

